<footer>
  <div class="pull-left">
    Made with
      <i class="ion ion-heart"></i>
      In India
  </div>
  <div class="pull-right">
    <a href="https://twitter.com/istereotype" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @istereotype</a>
    <a href="https://twitter.com/intent/tweet?screen_name=istereotype" class="twitter-mention-button" data-related="excid3">Tweet to @istereotype</a>
  </div>
</footer>
