<% content_for :right_nav do %>
  <li><p class="navbar-btn">
  <%= link_to new_link_path, class: "btn btn-primary" do %>
	Submit a link
  <% end %>

  </p></li>
<% end %>

<h1 class="recommended text-center">
	<% if !user_signed_in? %>
	Check common interests between you and your friends on facebook
	<% else %>
		Hola <%= current_user.first_name %>! <%= link_to "Click here", new_link_path %> to post your own recipe.
	<% end %>
</h1>

<%= render @links %>
