h1.recommended {
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0em 0 2em;
  a {
    text-decoration: none;
  }
}

.recommended-link {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;

  &:hover {
    background: #f7f7fa;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.8em;

    a {
      color: #444;
      text-decoration: none;
      &:hover {
        transition: 0.5s;
        color: #E74C3C;
      }
    }
  }

  .submitted-by {
    color: #aaa;
  }
  .description {
    color: #333;
    font-weight: 300;
    font-size: 1.5em;
  }

  .votes {
    font-size: 1.25em;
    margin-top: 1em;
  }
}
